html{
    margin: 0;
    padding: 0;
}

body,h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'Playfair Display', serif;
}
* {
  font-size: 100%;
  font-family: 'Playfair Display', serif;
 }
.navlogo{
    width: 150px;
}
nav {
    background: rgba(255, 255, 255, 0.9);

    /* -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px); */
}


/*-------------search box------------------------*/

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*-------------search box------------------------*/


.owl-stage{
    padding: 3rem 0 ;
}

.owl-prev, .owl-next {
    font-size: 50px !important;
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
    border-radius: 50%;
}
.owl-prev { left: -0px; }
.owl-next { right: -0px; }

@media (min-width: 768px) {
    .owl-prev { left: -20px; }
.owl-next { right: -20px; }
  }

.owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}



footer{
    bottom: 0;
}

/* product page */

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}